* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/*HEADER==============
========*/


/*navbar-menu======
======*/

.head {
    position: relative;
    width: 100%;
    background: #000000;
}

.menu-logo {
    width: 79px;
    height: 27px;
    padding-top: 21px;
    padding-bottom: 23px;
}

.head ul {
    position: absolute;
    right: 128px;
    list-style: none;
    display: inline-block;
    margin: 29px 0 31px 0;
}

.head li {
    margin: 0 auto;
    display: inline-block;
    margin-left: 48px;
}

.head li a,
p {
    color: #ffffff;
    font-size: 14px;
    opacity: 0.7;
    text-decoration: none;
}


/*header-photo=========
======*/

.head-photo {
    width: 100%;
    background: url(../img/House.png);
    opacity: 1;
    font-size: 0;
}

.head-name {
    width: 512px;
    font-size: 34px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

.head-text {
    width: 461px;
}

.head-line {
    width: 74px;
    border: 1px solid #ffffff;
}

.head-logo {
    width: 175px;
    height: 60px;
    background: url(/img/icon/Logo.png);
}

.head-btn {
    width: 135px;
    height: 42px;
    background: none;
}

.btn-text {
    font-size: 13px;
    color: #ffffff;
}

.head-info {
    display: inline-block;
    width: 50%;
}

.signup {
    display: inline-block;
    width: 50%;
}

.signup-info {
    width: 360px;
    height: 54px;
    font-size: 20px;
    color: #333333;
    background: #DBDAE7;
    text-align: center;
}

.word {
    color: #FF8D2D;
}

.input {
    width: 360px;
    height: 321px;
    background: #ffffff;
}

.line {
    width: 285px;
    height: 31px;
    border: none;
    padding: 0 auto;
}

.signup-btn {
    width: 360px;
    height: 64px;
    background: #FF8D2D;
}


/*MAIN=============
====*/

.container {
    max-width: 1140px;
    margin: 0 auto;
}


/*block-awesome===========
========*/

.title {
    margin-top: 107px;
    margin-bottom: 80px;
    text-align: center;
}

hr {
    margin: auto;
    border: none;
    width: 64px;
    height: 2px;
    background: #FF8D2D;
}

.main-name {
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    color: #212121;
}

.main-info {
    margin-top: 30px;
    font-size: 14px;
    color: #86878B;
}

.circle {
    position: relative;
    border: 2px solid #FF8D2D;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.lamp {
    background-image: url(../img/icon/lamp.jpg);
    width: 19px;
    height: 28px;
    margin: auto;
}

.keyboard {
    background-image: url(../img/icon/keyboard.jpg);
    width: 35px;
    height: 21px;
    margin: auto;
}

.lightning {
    background-image: url(../img/icon/lightning.jpg);
    width: 17px;
    height: 31px;
    margin: auto;
}

.block-info {
    display: inline-block;
    width: 350px;
    text-align: center;
}

.block-name {
    font-size: 20px;
    margin-top: 29px;
    margin-bottom: 29px;
    color: #333333;
}

.text {
    font-size: 14px;
    margin-top: 29px;
    color: #86878B;
}

.block-info:nth-child(2) {
    margin: 0 40px;
}


/* block-photo
============*/

.photo-city {
    max-height: 322px;
    position: relative;
    margin-top: 100px;
    width: 100%;
    background: url(../img/city.png);
}

.main-fon {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/icon/fon.png);
    opacity: 0.3;
}

.main-title {
    font-size: 36px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

.line-stylish {
    border: 1px solid #ffffff;
    width: 74px;
    margin: 26px auto;
}

.block-city {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 76px;
    text-align: center;
}

.info {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 33px;
    opacity: 0.8;
    font-size: 16px;
    color: #ffffff;
}

.btn-download {
    width: 135px;
    height: 42px;
    background: none;
    margin-bottom: 63px;
}

.btn-text {
    font-size: 13px;
    color: #ffffff;
}


/* FOOTER 
=================*/

.block-footer {
    width: 100%;
    background: #000000;
}

.footer-icon {
    height: 23px;
    padding-top: 33px;
    padding-bottom: 15px;
    text-align: center;
}

.footer-info {
    font-size: 12px;
    text-align: center;
    padding-bottom: 15px;
}